<h1 class="subheader">Pagina de Login</h1>

<form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" placeholder="Ingrese E-mail" name="email" #email="ngModel" [(ngModel)]="login.email" required />
        <small *ngIf="!email.valid && email.touched">El correo no es valido</small>
    </div>
    <div>

        <label for="contra">Contraseña</label>
        <input type="password" placeholder="Ingrese contraseña" name="contra" #contra="ngModel" [(ngModel)]="login.contra" required pattern="[a-zA-Z]+" />
        <small *ngIf="!contra.valid && contra.touched">La contraseña no es valida</small>
    </div>

    <div class="clearfix"></div>

    <input type="submit" value="Ingresar" class="btn btn-success" (click)="redireccion()" [disabled]="userForm.invalid" />

</form>